table {
    border: 1px solid;
    width: 50%;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 10px;
}

button, input {
    width: 100%;
    margin-right: 0;
}

.search {
    margin: auto;
    display: grid;
    grid-auto-flow: column; 
    width: 50%;
    padding: 60px;
}

.row {
    cursor: pointer;
}

.row:hover {
    background-color: lightgray;
    position: relative;
}
