<form (submit)="getToken()">
    <fieldset>
        <legend>Login Information</legend>
            <div>
              <label for="clientId">Client Id: </label>
              <input class="item" type="text" id="clientId" [(ngModel)]="clientId" name="clientId" required /><br><br>
              <label for="clientSecret">Client Secret: </label>
              <input class="item" type="password" id="clientSecret" [(ngModel)]="clientSecret" name="clientSecret" required /><br><br>
              <button type="submit">Submit</button>
              <label class="hidden" [hidden]="labelHidden">Login Successful.</label>
            </div>
    </fieldset>
</form>

